<h2><b>Custom Form Template</b></h2>

{{form.background}}
{{form.candidate_volume}}
{{form.candidate_name}}
{{form.candidate_mail}}
{{form.candidate_number}}
{{form.candidate_dob}}
{{form.candidate_gender}}
{{form.candidate_confirmation}}
{{form.candidate_copy}}

{{ form.form_build_id }} {# required #}
{{ form.form_token }}{# required #}
{{ form.form_id }} {# required #}
{{ form.actions }} {# will render the action buttons in the form #}




