<div id="career-form-wrapper">
<h2>Career Search</h2>


{{form.career_location}}
{{form.career_practice_name}}
{{form.career_specialty}}
{{form.career_interval}}
{{form.career_radius}}


{{ form.form_build_id }} {# required #}
{{ form.form_token }}{# required #}
{{ form.form_id }} {# required #}
<div class="search_form_btn">{{ form.actions }}</div> {# will render the action buttons in the form #}
</div>




