<h2><b>Custom Template for block</b></h2>


<p> {{ title }} </p>
<p>{{ description }}</p>
<p><b>Name: </b>{{ data.myarray.name}}</p>
<p><b>Age: </b>{{ data.myarray.age}}</p>
<p><b>Village: </b>{{ data.myarray.village}}</p>
<p><b>Pincode: </b>{{ data.myarray.pincode}}</p>
      
      

